BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 115
AlignConsecutiveMacros: Consecutive
AlignConsecutiveAssignments: Consecutive
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 0
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Always
AllowShortBlocksOnASingleLine: Never
BreakBeforeBraces: Attach
SortIncludes: false
