/build
/local
/benchmark/local

# Profiling
*.prof
*.out
cpu.out
mem.out

# Editor/IDE
*.bak
*.swp
*.swo
.idea/
.vscode/
*.sublime-*
.clangd
.cache/
*.dSYM

# Test/Benchmark artifacts
*.png
*.test
coverage.out
coverage.html
coverage_*.html

# Benchmark data (local only)
.benchdata/
.benchmarks/
benchmark/benchviz/benchviz
testdata/fuzz/

# OS
.DS_Store
Thumbs.db

*.bck.yml

__pycache__
.gocache
